@model RelacionamentoHeranca.Models.NaoPerecivel

@{
    ViewData["Title"] = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>Certeza que quer deletar?</h3>
<div>
    <h4>Não Perecível</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamanho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutoID" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar para a lista de produtos</a>
    </form>
</div>
